div {
    font-family: IntroRust;
    font-size: 16px;
}

.Note {
    min-width: 140px;
    min-height: 140px;
    max-width: 140px;
    max-height: 140px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.NoteContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.NoteHolder {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
}

.NoteHolder > p {
    font-size: 18px;
}

orange {
    color: orange;
}

.RemoveNote {
    display: flex;
    cursor: pointer;
}

.RemoveButton {
    margin: 5px;
    align-self: center;
    width: 20px;
}

.NoteImage {
    margin: 2px;
    width: 40px;
}

.NoteName > p {
    font-size: .8em;
    margin: 0;
    text-align: center;
}

.NoteName {
    font-weight: bold;
    color: white;
}

.NoteFiller {
    min-width: 0;
    min-height: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.NoteDisplay {
    width: 0;
    height: 0;
    position: fixed;
    bottom: calc((100%/2) - 200px);
    left: calc((100%/2) - 200px);
    transition: all .5s ease-in-out;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: column;
    color: white;
}

.NoteDisplay > input {
    font-size: 2em;
    padding: 3px;
    text-align: center;
    color: white;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.NoteDisplay > textarea {
    margin: 5px;
    color: white;
    font-size: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    overflow: hidden;
}

.Notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.AddNote {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 525px) {
    .NoteHolder {
        align-items: center;
    }
    .Notes {
        justify-content: center;
    }
    .AddNote {
        justify-content: center;
    }
    .NoteDisplay {
        left: 0;
        bottom: 0;
    }
}

@media screen and (min-width: 526px) {
    .NoteHolder {
        align-items: left;
    }
    .AddNote {
        justify-content: flex-start;
    }
}