#category-list {
    width: 35%;
    float: right;
    margin-top: 7%;


}
#category-list h1 {
    font-size: 205%;

}


@font-face {
    font-family: IntroRust;
    src: url(../fonts/IntroRust.otf);
}



#titleCategory {
    font-family: IntroRust, sans-serif;
}


.category-item {
    list-style-type: none;
    margin: 20px;

}

#category-holder {
    width: 100%;
    padding-left: 0;
    margin-left: -20px;
    margin-top: 20px;
}
.btn-category {

    height: 45px;
    width: 45px;
    border: none;
    margin-right: 10px;
    padding: 20px 25px;
    text-decoration: none;
    display: inline-block;

    cursor: pointer;

}



