div {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
}

.Note {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.CategoryFilter {
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
}

.NoteContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.NoteHolder {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
}

.NoteHolder > p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
}

orange {
    color: orange;
}

.RemoveNote {
    display: flex;
    cursor: pointer;
}

.RemoveButton {
    margin: 5px;
    align-self: center;
}

.NoteName {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: white;
}

.Selected {
    border: black solid 2px;
}

.CategoryCreatorHolder {
    display: flex;
    flex-direction: column;
}

.CategoryCreatorHolder > p {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}

.Category {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
}

.CategoryColor {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    -webkit-box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    margin-right: 10px;
}

.CategoryName {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}

.NoteFiller {
    min-width: 0;
    min-height: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.NoteDisplay {
    width: 0;
    height: 0;
    position: fixed;
    top: calc((100%/2) - 200px);
    left: calc((100%/2) - 200px);
    transition: all .5s ease-in-out;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    flex-direction: row;
    color: white;
}


.Notes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.AddNote {
    display: flex;
    flex-direction: row;
}

.AddCategory {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 750px) {
    .NoteHolder {
        align-items: center;
    }
    .Notes {
        justify-content: center;
    }
    .AddNote {
        justify-content: center;
    }
    .CategoryCreatorHolder {
        align-items: center;
    }
    .AddCategory {
        justify-content: center;
    }
}

@media screen and (min-width: 751px) {
    .NoteHolder {
        align-items: left;
    }
    .AddNote {
        justify-content: flex-start;
    }
}