.Note {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    background-color: #016D91;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.Category {
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 68px -7px rgba(0,0,0,0.75);
}

.NoteContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.NoteHolder {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
}

.Notes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.RemoveNote {
    display: flex;
    cursor: pointer;
}

.RemoveButton {
    margin: 5px;
    align-self: center;
}

.NoteName {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    color: white;
}

.Selected {
    border: black solid 2px;
}