.NoteView {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-height: 100%;
    margin: 30px;
}

.Left-Page {
    min-width: 70%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.Right-Page {
    max-width: 30%;
    flex: 1;
}

.AddNote {

}

.Middle-Page {
    flex: 1;
}