@font-face {
    font-family: IntroRust;
    src: url(../fonts/IntroRust.otf);
}

.tile-wrapper {
    margin: 1rem;
    font-size: 10px;
    width:inherit;
    height: auto;
    display: flex;
    flex-direction: row;
}

.color-tile {
    width: 0.5rem;
    border-width: thin;
    border-style: solid;
}

.textComponents {
    display: flex;
    flex-direction: column;
    flex-basis: 27.5rem;
}

.titleText {
    width: inherit;
    padding: 0 1rem 0 1rem;
    font-family: IntroRust, sans-serif;
    border-width: thin;
    border-color: lightgrey;
    border-style: solid;
    flex-wrap: wrap;
    text-align: center;
}

.timeText {
    padding: 0 1rem 0 1rem;
    font-family: IntroRust, sans-serif;
    border-width: thin;
    border-color: lightgrey;
    border-style: solid;
    flex-wrap: wrap;
    text-align: center;
}

.dateText {
    padding: 0 1rem 0 1rem;
    font-family: IntroRust, sans-serif;
    border-width: thin;
    border-color: lightgrey;
    border-style: solid;
    flex-wrap: wrap;
    text-align: center;
}

.formAppointment {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin: 1em;
    max-width: 30rem;
    min-width: 10rem;
}

.appointmentCards {
    margin-top: 3rem;
}

.appointmentInput {
    padding: 13px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#formButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
}

.deleteButtonWrap {
    border-width: thin;
    border-color: lightgrey;
    border-style: solid;
    border-left-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

.deleteButton {
    width: 1.8em;
    height: 1.8em;
    border-radius: 50%;
    background-color: white;
    -webkit-appearance: none;
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
}

.deleteButton:hover {
    background-color:  goldenrod;
}
