@font-face {
    font-family: IntroRust;
    src: url(../fonts/IntroRust.otf);
}

.tile-wrapper {
    height: 3rem;
    margin: 1em;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.color-tile {
    width: 0.5rem;
    height: inherit;
    border-width: thin;
    border-style: solid;
}

.titleText {
    height: inherit;
    padding: 0 1rem 0 1rem;
    font-family: IntroRust, sans-serif;
    border-width: thin;
    border-color: lightgrey;
    border-style: solid;
    border-left-style: none;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dateText {
    height: inherit;
    padding: 0 1rem 0 1rem;
    width: 20rem;
    border-width: thin;
    border-color: lightgrey;
    border-style: solid;
    border-left-style: none;
    font-family: IntroRust, sans-serif;
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile-wrapper:hover>.titleText, .tile-wrapper:hover>.dateText, .tile-wrapper:hover>.deleteButtonWrap {
    background-color: #efefef;
}

.formList {
    list-style-type: none;
    margin: 1rem 0 0 -1.5rem;
    border-width: thin;
}

.formAppointment {
    width: 30rem;
    margin: 2rem;
}

.appointmentCards {
    margin-top: 3rem;
}

.appointmentText {
    margin: 3rem;
}

.appointmentInput {
    width: 100%;
    padding: 13px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#formButton {
    width: 100%;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.deleteButtonWrap {
    width: 2rem;
    height: inherit;
    padding: 0 1rem 0 1rem;
    border-width: thin;
    border-color: lightgrey;
    border-style: solid;
    border-left-style: none;
    flex-wrap: wrap;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 6px 6px 15px 0 rgba(0, 0, 0, 0.19);
}

.deleteButtonWrap:active>#deleteButton {
    margin-top: 40%;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 15%;
}

#deleteButton {
    margin-top: 30%;
}

@media screen and (max-width: 525px) {
    .formAppointment {
        width: 100%;
        margin-top: 2rem;
        justify-content: center;
        margin-left: -0.5rem;
    }
}
