.daygrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: transparent;
}

.day {
    width: 150px;
    flex-grow: 0;
    flex-shrink: 0;
}

.day-text {
    color: orange;
    width:100%;
    text-align: center;
}

.slotgrid {
    display: flex;
    flex-direction: column;

}

.slot {
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: white;

}

.slot-interval, .event-title, .event-description {
    border: none;
    background-color: transparent;
    color: white;
    outline: none;

}

.slot-interval {
    horiz-align: center;
    width: 40%;
    text-align: center;

}

.event {
    display: flex;
    flex-direction: column;
}

.event-title, .event-description {
    width: 80%;
    margin: auto;
    border-bottom: 1px solid white;

}